body{
	background-image:url('../img/bg.png');
	background-position:bottom right;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
}
.topbar{
	width:100%;
	height:25px;
	background-color:white;
	color:white;
	padding:3px 0px;
	
}
.topbar a{
	text-decoration:none;
	font-size:12px;
	margin-left:20px;
}

.navbar-initial{
	position:3;
	background-color:#bb6ada;
}

.navbar-softech{
	border-style:initial;
	background-color:#6d79ad;
	border-radius:0px;
	color:white;
	box-shadow:1px 2px 8px gray;
}

.navbar-brand > img{
	border-radius:50px;
	background-color:#6d79ad;
	height:auto;
	width:85px;
	margin-top:-30px;
	box-shadow:0px 2px 5px -1px gray;
}
.navbar-brand-x > img{
	height:auto;
	width:85px;
	margin-top:5px;
	margin-right:20px;
	margin-left:-10px;
}

.navbar-brand-text{
	color:white !important;
	font-family:"Century Gothic";
	text-decoration:none;
	margin-right:20px;
}

.navbar-nav > li > a{
	color:white !important;
	font-family:"Century Gothic";
}

.navbar-nav > li:hover{
	background-color:#f5c353;
}

.navbar-nav > li:hover > a{
	color:black !important;
}

.softech-main-initial{
	position:2;
	background-color:#aa94dd;
}

.softech-main{
	margin-top:100px;
}

.thumbnail{
	width:110px;
	height:110px;
	padding:30px 0px;
}

.thumbnail > img{
	width:100%;
	height:auto;
}

.news-feed{
	width:100%;
	height:auto;
	min-height:50px;
	padding:10px;
	background-color:#f5c353;
	text-align:center;
}

.news-feed .carousel-control{
	background-image:initial;
}

.news-feed .carousel-control .item {
	text-align:center;
}

.news-feed .carousel-control .item img{
	width:10px;
	height:10px;
}

.haccord{
	margin:20px 0px;
	
}

.haccord .haccord-item{
	width:33.33%;
	float:left;
	padding:0px 10px;
	transition:width 0.6s;
	cursor:pointer;
	overflow:hidden;
	padding:20px;
	position:relative;
	/*-webkit-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;*/
}

.haccord .haccord-content{
	display:none;
}

.haccord .haccord-item-bg{
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	opacity:0;
	transition:opacity 0.5s;
	width:100%;
	background-color:gray;
}

.haccord .haccord-item-bg > img{
	opacity:0.2;
}

.haccord .haccord-head{
	width:100%;
	float:left;
	min-height:100px;
	/*border-style:solid;
	border-width:1px;
	border-color:lightgray;*/
	border-radius:5px;
	/*padding:10px;
	margin-right:20px;*/
	transition:margin-right 0.4s;
	height:100%;
	max-height:200px;
	position:relative;
	transition:box-shadow 0.3s;
	
}

.haccord .haccord-head > .off-header{
	width:40px;
	height:40px;
	background-color:#6d79ad;
	border-radius:20px;
	float:left;
	margin-left:-20px;
	margin-top:10px;
}

.haccord .haccord-head > img{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:-1;
	transition:opacity 0.3s;
	border-radius:5px;
}

.haccord .haccord-head > p{
	color:white;
	float:left;
	background-color:#6d79ad;
	margin-top:17px;
	margin-left:-20px;
	padding:3px 10px;
	border-radius:3px;
}

.haccord .h-hover-text{
	display:table;
	position:absolute;
	width:100%;
	height:100%;
	opacity:0;
	transition:opacity 0.3s;
}

.haccord .haccord-head:hover .h-hover-text{
	opacity:1;
}

.haccord .h-hover-inner{
	vertical-align:middle;
	display:table-cell;
}

.haccord .h-hover-inner > a{
	background-color:rgba(255,255,255,0.5);
	padding:10px;
	text-align:center;
	display:block;
	text-decoration:none;
}

.haccord .haccord-initial{
	position:1;
	background-color:#6fd031;
}

.haccord .haccord-content{
	opacity:0;
	transition:opacity 0.2s !important;
	float:left;
}

.haccord .haccord-content ul{
	float:left;
}

.haccord .haccord-content ul > li{
	padding:5px;
	list-style-type: none;
}

.haccord .haccord-content ul > li:hover{
	background-color:green;
}

.haccord .haccord-content-initial ul > li:hover{
	position:5;
	background-color:#ff03c4;
}

.haccord .haccord-content ul > li > a{
	text-decoration:none;
	color:white;
	padding:5px;
}

.haccord .haccord-open{
	width:100%;
	
}
.haccord .haccord-open .haccord-head{
	width:30%;
}

.haccord .haccord-open .haccord-content{
	display:block;
}

.haccord .haccord-open .h-hover-text{
	display:none;
}

.haccord .haccord-hide{
	/*display:none;*/
	transition:width 0.4s !important;
}
.con1{
	background-image:url('../img/1.jpg');
}

.x{
	width:100px;
	height:80px;
	webkit-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
	background-color:green;
}

.footer-initial{
	position:4;
	background-color:#6090e8;
}

.bottom-footer{
	width:100%;
	background-color:#6d79ad;
}

.bottom-footer .btt{
	text-align:center;
}

.bottom-footer .btt > a{
	color:white;
	text-decoration:none;
}

.bottom-footer .bottom-footer-upper{
	width:100%;
	background-color:#4C588C;
	padding:10px;
}

.bottom-footer .bottom-footer-upper p{
	margin:0px;
}

.bottom-footer .bottom-footer-lower{
	
}

.support-screen{
	position:fixed;
	right:0;
	bottom:0;
	margin-right:20px;
	background-color:green;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	padding:10px;
	color:white;
	
}

.conx{
	color:white;
	text-align:center;
	margin:20px 0px;
}

.j{
	color:white;
	font-size:10px;
}

.h{
	margin:5px 0px;
}

.support-screen-end-initial{
	position:end;
	background-color:#0d;
}

.support-screen a{
	text-decoration:none;
	color:white;
}